/*сброс отступов*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ul, li, p, h3, h2, div, img {
  border: 1px solid red;
}  
/*сброс отступов*/
/*.header {
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  color: #000;
  overflow: hidden;
  min-height: 600px;
  max-height: 756px;
  height: 100vh;
  z-index: 1;
}
.logo { 
  align-self: flex-start;
}
.logo:hover {
  opacity: 0.3;
  transition: all 5s 1s;
}
/*.logo_place_header {
  position: absolute;
  background-image: url(../images/logo_place_header.svg);
  top: 32px;
  left: 64px;
  height: 32px;
  width: 183px;
}
/*.header__title {
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  margin-left: 64px;
  width: 730px;
  margin-top: 0;
  margin-bottom: 0;
}
.header__subtitle {
  position: absolute;
  align-self: baseline;
  max-width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  align-items: center;  
}
/*.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
}
.rotate__miks {
  margin-left: 190px;
  margin-top: 0;
  /*right: 0;
   top: 64px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;*/
  /*-webkit-animation-name: rotation;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotation;
  -moz-animation-duration: 20s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -o-animation-name: rotation;
  -o-animation-duration: 20s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  animation-name: rotation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
 }
 
 /*@-webkit-keyframes rotation {
     0% {-webkit-transform:rotate(0deg);
         -moz-transform:rotate(0deg);
         -o-transform:rotate(0deg);
         transform:rotate(0deg);}
     100% {-webkit-transform:rotate(360deg);
         -moz-transform:rotate(360deg);
         -o-transform:rotate(360deg);
         transform:rotate(360deg);}
 }
 @-moz-keyframes rotation {
     0% {-webkit-transform:rotate(0deg);
         -moz-transform:rotate(0deg);
         -o-transform:rotate(0deg);
         transform:rotate(0deg);}
     100% {-webkit-transform:rotate(360deg);
         -moz-transform:rotate(360deg);
         -o-transform:rotate(360deg);
         transform:rotate(360deg);}
 }
 @-o-keyframes rotation {
     0% {-webkit-transform:rotate(0deg);
         -moz-transform:rotate(0deg);
         -o-transform:rotate(0deg);
         transform:rotate(0deg);}
     100% {-webkit-transform:rotate(360deg);
         -moz-transform:rotate(360deg);
         -o-transform:rotate(360deg);
         transform:rotate(360deg);}
 }
 @keyframes rotation {
     0% {-webkit-transform:rotate(0deg);
         -moz-transform:rotate(0deg);
         -o-transform:rotate(0deg);
         transform:rotate(0deg);}
     100% {-webkit-transform:rotate(360deg);
         -moz-transform:rotate(720deg);
         -o-transform:rotate(360deg);
         transform:rotate(360deg);}
 }
.header__square-pic {
  position: absolute;
  right: 0;
  border: 0;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: -1;
}
.description {
  margin-top: 100px;
}
.two-columns {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 80%;
 }
.two-columns__brief {
  width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  margin-bottom: 0;
}
.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}
.two-columns__paragraph { 
  margin: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
/*.two-columns__span-accent {
  font-weight: bold;
}
.techniques {
  padding-top: 100px;
  margin: auto;
  margin-right: auto;
  width: 80%;
}
.cards {
  width: 920px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}
.cards__item {
  margin-right: 100px;
  margin-top: 60px;
  width: 240px;
}
.cards__item:nth-of-type(3n) {
  margin-right: 0;
}
.cards__image {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: 0 40px;
}
.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
  margin-top: 43px;
}
.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}
.video {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.video__iframes {
  overflow: hidden;
  position: relative;
  text-align: center;
  margin-top: 50px;
  margin-bottom: -60px;
}
.video__iframe {
  margin-right: 20px;
}
.video__iframe:last-of-type {
  margin-right: 0;
}*/
.oakley {
  padding-top: 160px;
  background-color: #f2f2f2;
}
.feynman {
  background-color: #f2f2f2;
  min-height: 790px;
  justify-content: center;
  position: relative;
  padding-top: 100px;
}
.feynman__img {
  position: absolute;
  width: 867px;
  height: 637px;
  z-index: 2;
  bottom:  0;
  left: 0;
}
.feynman__title {
  position: relative;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  z-index: 6;
  line-height: 1.15;
  max-width: 648px;
  margin: auto;
}
.feynman__subtitle {
  position: relative;
  text-align: center;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  z-index: 2;
  margin-top: 70px;
  margin-bottom: 0;
}
.feynman__link {
  text-align: center;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  top: 50%;
  color: #2f80ed;
  right: 48px;
  position: absolute;
  text-decoration: none;
  z-index: 4;
}
.feynman__link:hover {
  opacity: 0.3;
  transition: ease-in 0.7s;
}
.digits {
  padding-top: 100px;
  margin-bottom: 100px;
}
.section-title {
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
  text-align: center;
  width: 60%;
  margin: auto;
}
.section-subtitle {
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin: auto;
  margin-top: 20px;
}
.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 1100px;
  padding: 0;
  list-style: none;
}
.table__cell {
  list-style-type: none;
  margin-top: 60px;
  width: 250px;
}
.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
  margin: 0;
}
.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}
.khan {
  background-color: #f2f2f2;
  padding-top: 105px;
}
.khan__container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.khan__author {
  font-weight: normal;
  line-height: 42px;
  font-size: 30px;
}
.khan__title {
  font-weight: bold;
  line-height: 1.15;
  font-size: 60px;
  margin-bottom: 50px;
}
.khan__quote {
  width: 790px;
  font-weight: normal;
  line-height: 34px;
  font-size: 24px;
  margin-bottom: 36px;
}
.khan__quote-author {
  font-weight: bold;
  line-height: 1.15;
  font-size: 24px;
  margin-bottom: 10px;
}
.khan__quote-author-subline {
  font-weight: normal;
  line-height: 1.15;
  font-size: 24px;
  margin-bottom: 68px;
}
.khan__book-container {
  display: flex;
}
.khan__book-pic {
  width: 620px;
  height: 608px;
  object-fit: cover;
  object-position: 0% 0%;
}
.khan__buy-link {
  font-weight: normal;
  line-height: 42px;
  font-size: 30px;
  text-decoration: none;
  margin-left: 48px;
  color:#2f80ed;
  align-items: flex-start;
 }
.khan__buy-link:hover {
  opacity: 0.3;
  transition: all 5s 0.3s;
}
.kaufman {
  overflow: hidden;
  position: relative;
  height: 100%;
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  z-index: 1;
}
.section-title_theme_dark {
  color: #f2f2f2;
  position: relative;
}
.section-subtitle_theme_dark {
  color: #f2f2f2;
  position: relative;
}
.table_theme_dark {
  color: #f2f2f2;
}
.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  color: #f2f2f2;
}
.table__heading_theme_dark {
  color: #f2f2f2;
}
.table__text_theme_dark {
  color: #f2f2f2;
}
.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  top: 0;
  background-size: contain;
  z-index: -1;
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
}
.resources {
  padding-top: 100px;
  padding-bottom: 217px;
}
.resources__logo-zone {
  width: 1100px;
  margin: auto;
  margin-top: 80px;
  text-align: center;
}
.resouces__logo {
  min-width: 270px;
  height: 38px;
}
.resouces__logo:hover {
  opacity: 0.3;
  transition: all 5s 1s;
}
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 40px;
}
.footer__columns {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
  color: #f2f2f2;
  width: 90%;
}
.footer__column_content_copyright {
  flex-basis: 711px;
  margin: 0;
  justify-content: space-between;
  min-height: 250px;
}
/*.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  height: 35px;
  width: 183px;
}*/
.footer__author {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin-bottom: 18px;
  margin-top: 18px;
  bottom: 0;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__column_content_info {
  flex-wrap: nowrap;
}
.footer__column-heading {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}
.footer__column-links {
  margin-top: 20px;
  margin-bottom: 16px;
}
.footer__column-link {
  display: flex;
  flex-direction: row;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
}
.footer__column-link:hover {
  opacity: 0.3;
  transition: all 5s 1s; 
}
.footer__column_content_social {
  margin-bottom: 0;
  justify-content: flex-start;
}
.footer__social-icon {
  margin: 0;
  color: #f2f2f2;
  margin-right: 10px;
}